<div class="container login-container">
  <div class="row">
    <div class="offset-md-3 col-md-6 login">
      <h3>Login</h3>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email *" id="email" required [(ngModel)]="email"
            name="email" #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          Valid email is required
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Your Password *" id="password" required [(ngModel)]="password"
            name="password" #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          Password is required
        </div>
        <div class="form-inline">
          <input type="submit" class="btnSubmit" [disabled]="!loginForm.form.valid" value="Login" />
          <input type="submit" class="btnSubmit" [routerLink]="['/registration/signup']" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>
