<div class="container login-container">
  <div class="row">
    <div class="offset-md-3 col-md-6 register">
      <h3>Sign Up</h3>
      <form (ngSubmit)="signup()" #signupForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name *" id="firstName" required [(ngModel)]="firstName"
            name="firstname" #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          First Name is required
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Last Name *" id="lastName" required [(ngModel)]="lastName"
            name="lastName" #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          Last Name is required
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email *" id="email" required [(ngModel)]="email" name="email"
            #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          Valid email is required
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password *" id="password" required [(ngModel)]="password"
            name="password" #name=ngModel />
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger mr-2">
          Password is required
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>
